<mat-drawer-container>
    <mat-sidenav #sidenav class="side-nav-left" position="start" role="directory" [opened]="opened">
      <div class="backdrop" (click)="opened = false"></div>
        <div class="side-nav-content col-5 col-md-3 pt-5 col-lg-2 text-light">
            <div class="row">
                <div class="col-12 p-0 menu-row text-center">
                    <button class="select-button" routerLink="/topRated">Top Movies</button>
                </div>
                <div class="col-12 p-0 menu-row text-center">
                    <button class="select-button" routerLink="/">Popular Movies</button>
                </div>
            </div>
        </div>
    </mat-sidenav>
</mat-drawer-container>